body {
    color: #000000;
    background: #e7d7d3;
    margin: 0px;
    font-family: "Anton", sans-serif;
}

header {
    border-bottom: solid 5px #d58718;
    padding: 20px;
    font-size: 15px;
    color: #862e2b;
}

.chamada{
    background: #862e2b;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1{
    font-size: 35px;
}

p{
    font-size: 20px;
}
img{
    height: 200px;
}
.categorias-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categorias-videos img { 
    opacity: 0.7;
    height: 200px;
}

.categorias-videos img:hover {
   opacity: 1.0;
   border: 5px solid #d58718;
}


.categoria h2{
    color:#862e2b;
}
